*, *::after, *::before {
    box-sizing: border-box;
}

html, body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.main-game-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.game-column {
    height: 100%;
    width: 600px;
}

.game-title {
    text-align: center;
}

.main-selector {
    display: flex;
    flex-direction: column;
    background-color: #649ce3;
    padding: 6px;
    border-radius: 6px;
    align-items: center;
}

.main-selector-title {

}

.game-select-button {
    border: 2px solid #555;
    border-radius: 6px;
    padding: 10px 14px;
    background-color: #ffffff;
    margin: 4px 0;
    font-size: 12pt;
    width: 60%;
    cursor: pointer;
    transition: 0.1s ease-out all;
}

.game-select-button:hover {
    opacity: 0.85;
}