*, *::after, *::before {
    box-sizing: border-box;
}

html, body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.main-game-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.game-column {
    height: 100%;
    min-width: 600px;
}

.game-title {
    text-align: center;
}

.main-selector {
    display: flex;
    flex-direction: column;
    background-color: #649ce3;
    padding: 6px;
    margin: 6px 0;
    border-radius: 6px;
    align-items: center;
}

.main-selector-title {

}

.main-selector-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.game-select-button {
    border: 2px solid #555555;
    border-radius: 6px;
    padding: 10px 14px;
    background-color: #ffffff;
    margin: 4px 0;
    font-size: 12pt;
    width: 60%;
    cursor: pointer;
    transition: 0.1s ease-out all;
}

.game-select-button:hover {
    opacity: 0.85;
}

/* game table */

.game-table-container {
    height: auto;
    position: relative;
    padding: 1em;
}

.game-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.table-row {
    width: 100%;
    height: auto;
    display: flex;
}

.table-row:nth-child(even) > .table-block:nth-child(even) {
    background-image: url('../assets/fieldB.png');
}

.table-row:nth-child(even) > .table-block:nth-child(odd) {
    background-image: url('../assets/fieldW.png');
}

.table-row:nth-child(odd) > .table-block:nth-child(odd) {
    background-image: url('../assets/fieldB.png');
}

.table-row:nth-child(odd) > .table-block:nth-child(even) {
    background-image: url('../assets/fieldW.png');
}

/*.table-block:nth-child(even) {
    background-color: black;
}

.table-block:nth-child(odd) {
    background-color: white;
}*/

.table-block {
    display: inline-flex;
    height: 64px;
    width: 64px;
    padding: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.figure {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.figure-white {
    background-image: url('../assets/queenW.png');
}

.figure-black {
    background-image: url('../assets/queenB.png');
}

/* endof game table */